@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="productAdminList" class="panel panel-default col-md-6">
    @Html.Partial("_ProductAdminList")
</div>

<div id="productEditContainer" class="col-md-6">

</div>


<script>
    function loadEditPartial(productId) {
        $("#productEditContainer").load("@Url.Action("LoadEditPartial", "Admin")?productId=" + productId);
    }

    function loadProductAdminListPartial() {
        $("#productAdminList").load("@Url.Action("LoadProductAdminListPartial", "Admin")");
    }

    function submitProduct() {
        var productEditContainer = $("#productEditContainer");
        var form = $(productEditContainer.find("form")[0]);

        var product = {
            ProductID: $(form.find("#ProductID")[0]).val(),
            Name: $(form.find("#Name")[0]).val(),
                Description: $(form.find("#Description")[0]).val(),
            Price: $(form.find("#Price")[0]).val(),
                Category: $(form.find("#Category")[0]).val()
        }

        $.post("@Url.Action("EditAsync", "Admin")", product, function (data) {
            loadProductAdminListPartial();
            console.log(data);
        });
        console.log(product);
    }

</script>

