@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<form action="" class="form-horizontal">
    <div class="form-group">
        <label for="searchbar" class="col-sm-2 control-label">SEARCH:</label>
        <div class="col-sm-4">
            <input id="searchbar" class="form-control" type="text" value=""/>
        </div>
    </div>
</form>

@Html.Hidden("category", Model.CurrentCategory)
@Html.Hidden("page", Model.PagingInfo.CurrentPage)

<div id="productGridContainer">
    @Html.Partial("ProductGrid", Model)
</div>

<script>
    var searchInProgress = false;

    $(document).ready(function () {

        $.each($("#categories").children(), function(_, cat) {
            $(cat).click(function (e) {
                e.preventDefault();
                $("#category").val($(cat).html());
                reloadProductGrid();
            });
        });

        var searchbar = $("#searchbar");
        searchbar.keyup(function () {
            reloadProductGrid();
        });
    });

    function reloadProductGrid() {
        var cat = $("#category");
        $("#productGridContainer").load("@Url.Action("ProductGrid")"
            + "?query=" + $("#searchbar").val()
            + "&category=" + (cat.val() == "Home" ? "" : cat.val())
            + "&page=" + $("#page").val()
        );
    }

</script>

